<div class="document-container">
  <h3><%= link_to document.title, document.html_url %></h3>
  <h4>Article Type: <%= document.document_type %> </h4>
  <h4>Article Number: <%= document.document_number %> </h4>
  <h4>Excerpts: <%= document.excerpts %> </h4>
  <h4>Article Url: <%= link_to document.html_url, document.html_url %></h4>
</div>
<hr>
<%= %>