<h1>Listing document_queries</h1>

<table>
  <thead>
    <tr>
      <th>Term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_queries.each do |document_query| %>
      <tr>
        <td><%= document_query.term %></td>
        <td><%= link_to 'Show', document_query %></td>
        <td><%= link_to 'Edit', edit_document_query_path(document_query) %></td>
        <td><%= link_to 'Destroy', document_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document query', new_document_query_path %>
