<div class="navbar-wrapper">
  <div class="navbar navbar-static-top">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left header">
        <%= link_to "Brand Name", root_url, class: "navbar-brand" %>
      </ul>
      <ul class="nav navbar-nav navbar-right padded-right">
        <li><a href="http://www.naics.com/naics-search-results/">Find NAICS codes</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Account Settings", settings_url %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_url %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_url %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- /navbar wrapper -->
